.register-container{
    display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
padding-left: 10%;
margin-left: 35vw;
margin-top:10vh;
width: 30vw;
height: 70vh;
}

.title{
    text-align: center;

}